<div class="card border-secondary m-2">
    <div class="card-body">
        <h4 class="card-title">Parent to child</h4>
        <div>
            <input [(ngModel)]="msg" type="text" placeholder="input message">
        </div>
        <button (click)="btnSend()" type="button" class="btn btn-primary m-2">Send message</button>
    </div>
    <hr>
    <app-child1 infoFromParent="{{msgToChild}}"></app-child1>
</div>

<div class="card border-secondary m-2">
    <div class="card-body">
        <h4 class="card-title">Child to parent</h4>
        {{msgFromChild}}
        <hr>
    <app-child2 (childMessage)="getMessage($event)"></app-child2>
    </div>
</div>

<div class="card border-secondary m-2">
    <div class="card-body">
        <h4 class="card-title">Direct communication</h4>
        <div
            class="row justify-content-center align-items-center g-2">
            <div class="col-6">
                <app-component1></app-component1>
            </div>
            <div class="col-6">
                <app-component2></app-component2>
            </div>
        </div>
        
    </div>
</div>